fastapi==0.115.12
SQLAlchemy==2.0.41
alembic==1.16.1
psycopg2-binary==2.9.10
pydantic==2.11.5
pyjwt==2.10.1
honeybadger==0.23.1
pydantic-settings==2.9.1
openai==1.82.1
requests==2.32.3
pytesseract==0.3.13
pypdf==5.5.0
pdfplumber==0.11.6
opencv-python==4.11.0.86
uvicorn==0.34.2
email-validator==2.2.0
python-multipart==0.0.20
passlib[bcrypt]==1.7.4
slowapi==0.1.9
resend==2.10.0
alembic==1.16.1
boto3==1.39.3
pytest==8.4.1
pytest-asyncio==1.0.0
coverage==7.9.2
moto[s3]==5.1.8
pytest-postgresql==7.0.2